*html {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: lightgrey;
}

td {
    border-bottom: 1px solid lightgrey;
    font-size: 13px;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
